<!doctype html>
{% load staticfiles %}
{% block css %}<link href="{% static 'CSS/AdminLTE.css' %}" rel="stylesheet"/>{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/skin-blue.min.css">

    <title>主页</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a class="logo">
            <span class="logo-mini">
                <b>个人中心</b>
            </span>
            <span class="logo-lg">
                <b>个人中心</b>
            </span>
        </a>

        {#        顶部导航栏#}
        <nav class="navbar " role="navigation">
            <img src="{% static "icon/nav_icon.png" %}" class="sidebar-toggle" data-toggle="push-menu" role="button">

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ portrait }}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ user.name }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ portrait }}" class="img-circle" alt="User Image">
                                <p>{{ user.name }}</p>
                            </li>

                            <li class="user-footer">
                                <div>
                                    <a href="/login" class="btn btn-default btn-block">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ portrait }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ user.name }}</p>
                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header" style="color: white">Welcome</li>
                <p class="lead" style="color: white;"><strong>姓 名  </strong> {{ user.name }}</p>
                <p class="lead" style="color: white;"><strong>专 业  </strong> {{ user.major }}</p>
                <p class="lead" style="color: white;"><strong>签 名  </strong> {{ user.status }}</p>
            </ul>
        </section>
    </aside>
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Welcome Back
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" name="tea_home"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <div class="content container-fluid" style="padding-top: 100px">
		<div class="col-md-4" style="text-align: center">
			 <p>&nbsp;</p><a href="/scorepredict/"  style="color:black;text-decoration:none;">
                        <div class="card-group">
                            <div class="card" align="middle" style="border: lightgray;">
                                <img src="{% static "icon/score_predict_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                                <div class="card-body">
                                    <h5 class="card-title">成绩预测</h5>
                                    <button type="button" class="btn btn-default">你有几科比较凉</button>
                                </div>
                            </div>
                        </div></a>
		</div>
		<div class="col-md-4" style="text-align: center;">
			<p>&nbsp;</p><a href="/course_relevance/"  style="color:black;text-decoration:none;">
                        <div class="card-group">
                            <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                                <img src="{% static "icon/dependency_analyse_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                                <div class="card-body">
                                    <h5 class="card-title">相关性分析</h5>
                                    <button type="button" class="btn btn-default">你以为会不凉？？</button>
                                </div>
                            </div>
                        </div></a>

            <div style="padding: 20px"></div>
            <p>&nbsp;</p><a href="/score/"  style="color:black;text-decoration:none;">
                        <div class="card-group">
                            <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                                <img src="{% static "icon/course_socre_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                                <div class="card-body">
                                    <h5 class="card-title">所修课程成绩</h5>
                                    <button type="button" class="btn btn-default">已经凉了呀</button>
                                </div>
                            </div>
                        </div></a>
		</div>
		<div class="col-md-4" style="text-align: center">
              <p>&nbsp;</p><a href="/Classpoint_lisan/"  style="color:black;text-decoration:none;">
                        <div class="card-group">
                            <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                                <img src="{% static "icon/course_key_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                                <div class="card-body">
                                    <h5 class="card-title">课程重点</h5>
                                    <button type="button" class="btn btn-default">按照这个复习就不凉了</button>
                                </div>
                            </div>
                        </div></a>
		</div>
    </div>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2019 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/JS/adminlte.js"></script>
</body>
</html>